<app-navbar></app-navbar>
<div>
    <h2 class="title">Sobre</h2>
</div>
<div class="content">
    <div class="row justify-content-center">
        <div class="card d-flex justify-content-center">
            <img class="myphoto" src="../../assets/myphoto.jpg" alt="">
        </div>
        <div class="card d-flex justify-content-center column">
            <p class="description">Meu nome é Isabelly Dias Faustino, tenho 19 anos.</p>
            <p class="description">Aos 16 anos me interessei pela área de tecnologia e decidi que após finalizar o
                ensino médio iria fazer
                um curso técnico.</p>
        </div>
    </div>
</div>