<div>
    <h2 class="title">Sobre</h2>
</div>
<div class="content">
    <div class="row flex-wrap justify-content-center">
        <div class="card d-flex justify-content-center">
            <img class="myphoto" src="../../assets/myphoto.jpg" alt="">
        </div>
        <div class="card d-flex justify-content-center column">
            <p class="description">Meu nome é Isabelly Dias Faustino, tenho 19 anos.</p>
            <p class="description">Aos 16 anos me interessei e me apaixonei pela área de tecnologia e desenvolvimento,
                desde então venho estudando sobre isso, principalmente na área de desenvolvimento backend/banco de
                dados.
            </p>

        </div>
    </div>
</div>
<div>
    <h2 class="title">Skills</h2>
</div>
<div class="content">
    <div class="row justify-content-start flex-wrap">
        <div class="card-skill">
            <img class="skills" src="../../assets/Java.png" />
            <p class="description-skill">Java</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/JavaScript.png" />
            <p class="description-skill">JavaScript</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Csharp.png" />
            <p class="description-skill">C#</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Cplusplus.png" />
            <p class="description-skill">C++</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/PHP.png" />
            <p class="description-skill">PHP</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Python.png" />
            <p class="description-skill">Python</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/R.png" />
            <p class="description-skill">R</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/TypeScript.png" />
            <p class="description-skill">TypeScript</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Arduino.png" />
            <p class="description-skill">Arduino</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/SQLServer.png" />
            <p class="description-skill">SQL Server</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/SQLite.png" />
            <p class="description-skill">SQLite</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/MySQL.png" />
            <p class="description-skill">MySQL</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Postgresql.png" />
            <p class="description-skill">Postgresql</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Mongodb.png" />
            <p class="description-skill">MongoDB</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/HTML5.png" />
            <p class="description-skill">HTML 5</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/CSS.png" />
            <p class="description-skill">CSS 3</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Angular.png" />
            <p class="description-skill">Angular</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/React.png" />
            <p class="description-skill">ReactJS</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Bootstrap.png" />
            <p class="description-skill">Bootstrap</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/jQuery.png" />
            <p class="description-skill">jQuery</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Nodemailer.png" />
            <p class="description-skill">Nodemailer</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/JSP.png" />
            <p class="description-skill">JSP</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Spring.png" />
            <p class="description-skill">Spring</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/NodeJS.png" />
            <p class="description-skill">NodeJS</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Flask.png" />
            <p class="description-skill">Flask</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Docker.png" />
            <p class="description-skill">Docker</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Azure.png" />
            <p class="description-skill">Azure</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/AWS.png" />
            <p class="description-skill">AWS</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Heroku.png" />
            <p class="description-skill">Heroku</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/GIT.png" />
            <p class="description-skill">GIT</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Github.png" />
            <p class="description-skill">Github</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/GIMP.png" />
            <p class="description-skill">GIMP</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Inkscape.png" />
            <p class="description-skill">Inkscape</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Photoshop.png" />
            <p class="description-skill">Photoshop</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Illustrator.png" />
            <p class="description-skill">Illustrator</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/SceneBuilder.png" />
            <p class="description-skill">SceneBuilder</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Postman.png" />
            <p class="description-skill">Postman</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Linux.png" />
            <p class="description-skill">Linux</p>
        </div>
        <div class="card-skill">
            <img class="skills" src="../../assets/Flutter.png" />
            <p class="description-skill">Flutter</p>
        </div>
    </div>