<div class="nav-wrapper">
    <div class="grad-bar"></div>
    <nav class="navbar">
     <img src="../../assets/isabelly_dias_icon_v2.png" alt="logo isabelly dias dourado">
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav no-search">
        <li><a class="nav-link nav-link-ltr" href="/about">Sobre Mim</a></li>
        <li><a class="nav-link nav-link-ltr" href="#">Portifólio</a></li>
        <li><a class="nav-link nav-link-ltr" href="#">Contato</a></li>
      </ul>
    </nav>
    </div>