.nav-wrapper {
    width: 100%;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
}

.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #F36C43, #DDCEA0, #23A6D5, #5C7E76);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    overflow: hidden;
    width: 100%;
}

.navbar img {
    width: 45px;
    height: 45px;
    margin-left: 40px;
}

.navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-self: flex-end;
    margin-right: 40px;
}

.nav-link{
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
    display: inline;
    color: #6D6D6D;
    padding: 10px;
    padding: 15px 0px;
    margin: 0px 15px;
}

/* .nav-link a {
    color: #6D6D6D;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    margin: 10px;
    transition: color 0.3s ease-out;
} */

.nav-link:hover, .footer-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #ddcea0, #decc97, #dfcb8f, #dfc986, #e0c77d);
}

.footer-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #477abd, #4175b8, #3b70b2, #356cad, #2e67a8, #2963a3, #245f9f, #1e5b9a, #185695, #115290, #094d8c, #004987);
}

.nav-link-ltr::before, .footer-link::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before, .footer-link:hover::before {
    width: 100%;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
}

.menu-toggle:hover {
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@media only screen and (max-width: 720px) {
    .features {
        flex-direction: column;
        padding: 50px;
    }
    /* MOBILE NAVIGATION */
    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: flex-start;
        top: 55px;
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
    }
    .navbar li {
        padding: 15px;
    }
    .navbar li:first-child {
        margin-top: 50px;
    }
    .navbar li a {
        font-size: 1rem;
    }
    .menu-toggle, .bar {
        display: block;
        cursor: pointer;
    }
    .mobile-nav {
        transform: translate(0%)!important;
    }
}