<div>
    <h2 class="title">Contato</h2>
</div>
<div class="content">
    <div class="row flex-wrap justify-content-center d-flex">
        <div class="card-2 justify-content-center d-flex row">
            <a href="mailto:isabelly.developer@gmail.com"><img class="icon" src="../../assets/Gmail.png"
                    alt="gmail" /></a>
            <img id="linkedin" class="icon" src="../../assets/Linkedin.png" alt="Linkedin">
            <img id="github" class="icon" src="../../assets/Github.png" alt="Github" />
        </div>
        <div class="card">
            <form>
                <div class="d-flex justify-content-start flex-wrap row">
                    <div class="card-3">
                        <label for="name">Nome</label><br>
                        <input class="input" type="text" name="name" id="name" required /><br>
                    </div>
                    <div class="card-3">
                        <label for="email">Email</label><br>
                        <input class="input" type="email" name="email" id="email" required /><br>
                    </div>
                    <div class="card-3">
                        <label for="telephone">Telefone</label><br>
                        <input class="input" type="tel" name="telephone" id="telephone" required /><br>
                    </div>
                    <div class="card-3">
                        <label for="subject">Assunto</label><br>
                        <input class="input" type="text" name="subject" id="subject" required /><br>
                    </div>
                    <div class="card-3">
                        <label for="message">Mensagem</label><br>
                        <textarea class="textarea" name="message" id="message" required></textarea><br>
                        <button id="submit" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>